{% extends 'general/profile.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}<title>YesorNoLIVE.com | Wallet</title>{% endblock %}

{% block pg_title %}<h4 class="page-title">Wallet</h4> </div>{% endblock %}

            {% block body %}
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Wallet Balance</h3>
                            <ul class="list-inline two-part">
                                <li><i class="ti-wallet text-success"></i></li>
                                <li class="text-right"><span style="font-size: 35px!important;"class="counter">₦{{balance|floatformat:2|intcomma}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--row -->
                <div class="row">
                        <div class="col-lg-6">
                        <div class="white-box">
                            
                            
                            <p class="text-muted m-b-30">Choose from the options below to top up your wallet</p>
                            <div class="row">
                                
                                <div class="col-lg-6 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-info btn-rounded" id="paystack">Top Up</button>
                                </div>
                               
                            </div>
                            
                        </div>
                        <div class="white-box hidden" id = 'paydiv'>

                            <div class="row">
                                <form method="post" action="{% url 'wallet:main' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="Amount">Amount(&#8358;)</label>
                                        <div class="input-group">
                                            <input type="number" name="amount" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-block btn-info btn-rounded">Pay Now</button>
                                    </div>                               
                                </form>
                                
                            </div>
                            
                        </div>
                        </div>
                        
                        <div class="col-lg-6">
                        <div class="white-box">
                            <p class="text-muted m-b-30">Choose from the options below to cash out your wallet</p>
                            <div class="row">
                        
                                <div class="col-lg-6 col-sm-4 col-xs-12">
                                    <button id="transfer" class="btn btn-block btn-danger btn-rounded">Transfer to Bank</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="white-box hidden" id="transferdiv">

                            <div class="row">
                                <form method="post" action="{% url 'wallet:cashout' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="Amount">Amount(&#8358;)</label>
                                        <div class="input-group">
                                            <input type="number" name="amount" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-block btn-info btn-rounded">Cash out</button>
                                    </div>                               
                                </form>
                                
                            </div>
                            
                        </div>
                        </div>
                        <div class="col-lg-12">
                        <div class="white-box">
                            <h3 class="box-title">Wallet Transaction History</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Reference No</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for txn in wallet %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            {% if txn.bank == 'PAYSTACK' %}
                                            <td>Wallet Top-up</td>
                                            {% else %}
                                            <td>{{txn.message }}</td>
                                            {% endif %}
                                            <td>₦{{txn.amount|floatformat:2|intcomma}}</td>
                                            <td>{{txn.created_at}}</td>
                                            <td>{{txn.ref_no}}</td>
                                            {% if txn.status == "Declined" %}
                                            <td><span class="label label-danger">{{txn.status}}</span> </td>
                                            {% elif txn.status == "Pending Approval" %}
                                            <td><span class="label label-warning">{{txn.status}}</span> </td>
                                            {% else %}
                                            <td><span class="label label-success">{{txn.status}}</span> </td>
                                            {% endif %}
                                        </tr>
                                        {% empty %}
                                            <p>No Payment Record found!!!!</p> 
                                        {% endfor %}
                                        <!--<tr>
                                            <td>2</td>
                                            <td>Paystack Deposite</td>
                                            <td>₦2045</td>
                                            <td>12/06/2017</td>
                                            <td>10:34</td>
                                            <td><span class="label label-success">successful</span> </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Paystack Deposite</td>
                                            <td>₦2045</td>
                                            <td>12/06/2017</td>
                                            <td>10:34</td>
                                            <td><span class="label label-danger">failed</span> </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Paystack Deposite</td>
                                            <td>₦2045</td>
                                            <td>12/06/2017</td>
                                            <td>10:34</td>
                                            <td><span class="label label-success">successful</span> </td>
                                        </tr>-->
                                        
                                    </tbody>
                                </table>
                                <div class="pagination" style="position:relative; margin:0px; float: right;">
                                    <span class="step-links">
                                        {% if wallet.has_previous %}
                                            <a style="font-size:14px;" href="?page={{ wallet.previous_page_number }}">prev</a>
                                        <!--% else %}
                                            <a style="font-size:20px;" class="hidden" >Next</a>-->
                                        {% endif %}
                                    
                                        <span style="font-size:14px;" class="current">
                                            Page {{ wallet.number }} of {{ wallet.paginator.num_pages }}.
                                        </span>
                    
                                        {% if wallet.has_next %}
                                            <a style="font-size:14px;" href="?page={{ wallet.next_page_number }}">Next</a>
                                        <!--% else %}
                                            <a style="font-size:20px;" class="hidden">&raquo;</a>-->
                    
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>

                        
                        
                        <!--<div class="col-lg-6">
                        <div class="white-box">

                            <div class="row">
                        
                                <div class="col-lg-6 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-primary btn-rounded">Quickteller</button>
                                </div>
                                
                            </div>
                            
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="white-box">

                            <div class="row">
                        
                                <div class="col-lg-6 col-sm-4 col-xs-12">
                                    <button class="btn btn-block btn-info btn-rounded">Interswitch</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        </div>-->
                    <!--</div>-->
                </div>
                <!--row -->
                <!--<div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Events Won</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-trophy text-info"></i></li>
                                <li class="text-right"><span class="counter">23</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Played Events</h3>
                            <ul class="list-inline two-part">
                                <li><i class="icon-game-controller text-purple"></i></li>
                                <li class="text-right"><span class="counter">{game.count}}</span></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Wallet Balance</h3>
                            <ul class="list-inline two-part">
                                <li><i class="ti-wallet text-success"></i></li>
                                <li class="text-right"><span class="counter">₦balance|floatformat:2|intcomma}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
               
                
                
                
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> © 2017 Yes or No Live </footer>
        </div>
        <!-- /#page-wrapper -->
        {% endblock %}

        {% block modals %}

            {% include 'general_snippets/general_modals.html' %}

        {% endblock modals %} 

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="js/wp-sidebar.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!--Style Switcher -->
<script src="plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
{% block custom_scripts %}
<script>
$('body').on('click','#paystack',function(){
    $('#paydiv').toggleClass('hidden');
    });
</script>

<script>
$('body').on('click','#transfer',function(){
    $('#transferdiv').toggleClass('hidden');
    });
</script>
{% endblock %}
</body>

</html>