<script>

   $('body').on('click', '#add_event', function(e){
		$('#eventForm').modal('show');
	});

	
	function checkTinymce(){
		var text = tinyMCE.activeEditor.getContent();
		if (text == "") {
			alert("The Description Field is Required");
			return false;
			} 
	};
	
	//$('body').on('click', '#submit-form-events', function(e){
	//	e.preventDefault();
	//	var text = tinyMCE.activeEditor.getContent();
	//	//alert(text);
	//	if (text != "") {
	//		$('#create_event').submit();
	//	}else {
	//		alert("The Description Field is Required");
	//	}
	//});

   $('body').on('click', '.edit_event', function(e){
   		var event_track_num = $(this).attr('event_track_num');
		   var identifier = $(this).attr('identifier');
   		$.ajax({
   			data: {'event_track_num':event_track_num,'edit':identifier},
   			type: 'GET',
   			url: "{% url 'ynladmin:view_edit_event' %}",
				beforeSend: function(){
					
					tinymce.remove();
				},
   			success:function(data){
   				$('#eventForm').replaceWith(data);
   				$('#eventForm').modal('show');
   				console.log('working');
					tinymce.init({selector:'textarea',
									 height: 300,
									 plugins: [
                          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                          'searchreplace wordcount visualblocks visualchars code fullscreen',
                          'insertdatetime media nonbreaking save table contextmenu directionality',
                          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                        ],
									toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
									toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
									image_advtab: true,
									templates: [
												{ title: 'Test template 1', content: 'Test 1' },
												{ title: 'Test template 2', content: 'Test 2' }
											  ],
									content_css: [
												  '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
												  '//www.tinymce.com/css/codepen.min.css'
												]
									
                });
				
			//   $( ".datepicker" ).datepicker({
			//	  changeMonth: true,
			//	  changeYear: true
			//   });
				
			   $('.id_time').timepicker({
					'timeFormat': 'h:i A',
					'scrollDefault': 'now'
				  });
			   
			    tinymce.init({selector:'textarea',height: 300});
										
						$('.id_date').datepicker({
								changeMonth: true,
								changeYear: true,
								dateFormat: "yy-mm-dd",
								minDate:     0
						});
						  
						$('.id_time').timepicker({
							'timeFormat': 'h:i A',
							'scrollDefault': 'now'
						});

				  },

   			error:function(data){
   				console.log('not working');
   			}
   		})
	});


   $('body').on('click', '.view_event', function(e){
            var event_track_num = $(this).attr('event_track_num');
            var identifier = $(this).attr('identifier');

            $.ajax({
               data: {'event_track_num':event_track_num,'view':identifier},
               type: 'GET',
               url: "{% url 'ynladmin:view_edit_event' %}",
               beforeSend: function(){
                  
                  tinymce.remove();
               },
               success:function(data){
                  $('#event_view').replaceWith(data);
                  $('#viewFormEdit').modal('show');
                  console.log('working');
                  tinymce.init({selector:'textarea',height: 300});
				  
               },

               error:function(data){
                  console.log('not working');
               }
            })
      });


   $('body').on('click', '.update_user', function(e){
         var user_id = $(this).attr('user_id');


         $.ajax({
            data: {'user_id':user_id},
            type: 'GET',
            url: "{% url 'ynladmin:edit_user' %}",
            
            success:function(data){
               $('#user_edit').replaceWith(data);
               $('#userFormEdit').modal('show');
               console.log('working');
               
            },

            error:function(data){
               console.log('not working');
            }
         })
   });


   //$('body').on('click','#search',function(e){
   //   var query = $('#search_for').val();
   //   if (query == ""){
   //      alert("Please enter a search value");
   //      return false
   //   }else{
   //      $('#search_form').submit();
   //   }
   //})


   $('body').on('click','.admin_msg', function(e){
         var message_id = $(this).attr('msg_id');
         var identifier = $(this).attr('identifier');

         $.ajax({
             data: {'message_id':message_id, 'identifier':identifier},
             url: "{% url 'ynladmin:admin_messages' %}",
             type: 'GET',

             success:function(data){
                 $("#adminmessageView").replaceWith(data);
                 $('#adminviewMessage').modal('show');
                 console.log('working');
             },
             error:function(data){
                 console.log('not working');
             }
         })
     })


   $('body').on('click','.admin_cmt', function(e){
         var message_id = $(this).attr('msg_id');
         var identifier = $(this).attr('identifier');

         $.ajax({
             data: {'message_id':message_id, 'identifier':identifier},
             url: "{% url 'ynladmin:admin_messages' %}",
             type: 'GET',

             success:function(data){
                 $("#adminmessageComment").replaceWith(data);
                 $('#adminmessageToComment').modal('show');
                 console.log('working');
             },
             error:function(data){
                 console.log('not working');
             }
         })
     });
   
		 $('.bet_yes').click(function(){
	 
			 $('.bet_no').removeClass('active'); // remove the class from the currently selected
			 $(this).addClass('active'); // add the class to the newly clicked link
			 var choice = $(this).attr('play_type');
			 $('#choice').val(choice);
	 
		 });
		 
		 
		 $('.bet_no').click(function(){
	 
			 $('.bet_yes').removeClass('active'); // remove the class from the currently selected		 
			 $(this).addClass('active'); // add the class to the newly clicked link
			 var choice = $(this).attr('play_type');
			 $('#choice').val(choice);
			 
		 });
	 
   
		 $('.bet_yes2').click(function(){
	 
			 $('.bet_no2').removeClass('active'); // remove the class from the currently selected
			 $(this).addClass('active'); // add the class to the newly clicked link
			 var choice = $(this).attr('play_type');
			 $('#choice2').val(choice);
	 
		 });
		 
		 
		 $('.bet_no2').click(function(){
	 
			 $('.bet_yes2').removeClass('active'); // remove the class from the currently selected		 
			 $(this).addClass('active'); // add the class to the newly clicked link
			 var choice = $(this).attr('play_type');
			 $('#choice2').val(choice);
			 
		 });
   
   function checkUserValues() {
	  
	  var choice = $('#choice').val();
	  var bet_amount = $('#bet_amount').val();
	  
	  if ((bet_amount == "") && (choice == "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game and select either 'YES' or 'NO' ");
		  return false;
	  }else if ((bet_amount < 200 ) && (choice != "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game");
		  return false;
      }else if ((bet_amount > 200 ) && (choice == "")) {
		  alert("Please select either 'YES' or 'NO' ");
		  return false;
      }else if ((bet_amount < 200 ) && (choice == "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game and select either 'YES'' ");
		  return false;
      }else{
		 var response = confirm("Please confirm that the option selected is " + choice + " and amount placed is " + bet_amount + " Naira")
		 if (response) {
			$('#user_play_choice').submit();
		 }else{
			return false;
		 }
     }
   }
   
   function checkUserSelect() {
	  
	  var choice = $('#choice2').val();
	  var bet_amount = $('#bet_amount2').val();
	  
	  if ((bet_amount == "") && (choice == "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game and select either 'YES' or 'NO' ");
		  return false;
	  }else if ((bet_amount < 200 ) && (choice != "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game");
		  return false;
      }else if ((bet_amount > 200 ) && (choice == "")) {
		  alert("Please select either 'YES' or 'NO' ");
		  return false;
      }else if ((bet_amount < 200 ) && (choice == "")) {
		  alert("Please enter the minimun amount of ₦200 or more for a game and select either 'YES'' ");
		  return false;
      }else{
		 var response = confirm("Please confirm that the option selected is " + choice + " and amount placed is " + bet_amount + " Naira")
		 if (response) {
			$('#user_play_choice2').submit();
		 }else{
			return false;
		 }
     }
   }
   
   
   function searchQuery() {
	  
	  var amt = $('#searchQueryAmt option:selected').text();
	  var days = $('#searchQueryDays').val();
	  var cat = $('#searchQueryCat option:selected').text();
	  var text = $('#searchQueryText').val();
	  	  
	  if ((amt == "Amount to be Shared" || amt == "") && (days == "") && (cat == "Category" || cat == "") && (text == "")){
		  alert('Please enter a search parameter');
		  return false;
	  }else{
		$('#userSearchForm').submit();
	  }
	
   }
   
</script>







