<script>

   $('body').on('click', '#add_event', function(e){
		$('#eventForm').modal('show');
	});


   $('body').on('click', '.edit_event', function(e){
   		   var event_track_num = $(this).attr('event_track_num');
         var identifier = $(this).attr('identifier');



   		$.ajax({
   			data: {'event_track_num':event_track_num,'edit':identifier},
   			type: 'GET',
   			url: "{% url 'ynladmin:view_edit_event' %}",
				beforeSend: function(){
					
					tinymce.remove();
				},
   			success:function(data){
   				$('#event_edit').replaceWith(data);
   				$('#eventFormEdit').modal('show');
   				console.log('working');
					tinymce.init({selector:'textarea',height: 300});
					
   			},

   			error:function(data){
   				console.log('not working');
   			}
   		})
	});


   $('body').on('click', '.view_event', function(e){
            var event_track_num = $(this).attr('event_track_num');
            var identifier = $(this).attr('identifier');

            $.ajax({
               data: {'event_track_num':event_track_num,'view':identifier},
               type: 'GET',
               url: "{% url 'ynladmin:view_edit_event' %}",
               beforeSend: function(){
                  
                  tinymce.remove();
               },
               success:function(data){
                  $('#event_view').replaceWith(data);
                  $('#viewFormEdit').modal('show');
                  console.log('working');
                  tinymce.init({selector:'textarea',height: 300});
                  
               },

               error:function(data){
                  console.log('not working');
               }
            })
      });


   $('body').on('click', '.update_user', function(e){
         var user_id = $(this).attr('user_id');


         $.ajax({
            data: {'user_id':user_id},
            type: 'GET',
            url: "{% url 'ynladmin:edit_user' %}",
            
            success:function(data){
               $('#user_edit').replaceWith(data);
               $('#userFormEdit').modal('show');
               console.log('working');
               
            },

            error:function(data){
               console.log('not working');
            }
         })
   });


   $('body').on('click','#search',function(e){
      var query = $('#search_for').val();
      if (query == ""){
         alert("Please enter a search value");
         return false
      }else{
         $('#search_form').submit();
      }
   })


   $('body').on('click','.admin_msg', function(e){
         var message_id = $(this).attr('msg_id');
         var identifier = $(this).attr('identifier');

         $.ajax({
             data: {'message_id':message_id, 'identifier':identifier},
             url: "{% url 'ynladmin:admin_messages' %}",
             type: 'GET',

             success:function(data){
                 $("#adminmessageView").replaceWith(data);
                 $('#adminviewMessage').modal('show');
                 console.log('working');
             },
             error:function(data){
                 console.log('not working');
             }
         })
     })


   $('body').on('click','.admin_cmt', function(e){
         var message_id = $(this).attr('msg_id');
         var identifier = $(this).attr('identifier');

         $.ajax({
             data: {'message_id':message_id, 'identifier':identifier},
             url: "{% url 'ynladmin:admin_messages' %}",
             type: 'GET',

             success:function(data){
                 $("#adminmessageComment").replaceWith(data);
                 $('#adminmessageToComment').modal('show');
                 console.log('working');
             },
             error:function(data){
                 console.log('not working');
             }
         })
     });

</script>