{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
<!DOCTYPE html>
	
	
<html lang="en">
	
  {% block general_header %}
  
  <head>
    <script src="https://use.fontawesome.com/a4681a7ca8.js"></script>
<!--	<script src="% static 'newstatic/js/fontawesome.js' %"></script>
-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'newstatic/css/style.css' %}" >
	<link rel="stylesheet" href="{% static 'awesomplete/awesomplete.css' %}" >
	<script src="{% static 'awesomplete/awesomplete.js' %}" async></script>
	
	
  </head>
  <body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=2352656298293778";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <!-- top nav bar -->


   <div class="container-fluid top-nav">
      <div class="row">
        <div class="col-12 col-md-8">
		  {% for message in messages %}
			{% if message.tags == 'error' %}
			  <p><span class="my-0 py-0 alert alert-danger">{{ message }}</span></p>
			{% elif message.tags == 'warning' %}
			  <p><span class="my-0 py-0 alert alert-warning">{{ message }}</span></p>
			{% else %}
			  <p><span class="my-0 py-0 alert alert-success">{{ message }}</span></p>
			{% endif %}	
		  {% endfor %}
        </div>
		
		<!-- value|default_if_none:"nothing" -->
		
		{% if request.user.is_authenticated %}
		
			<div class="col-12 col-md-4">
				<p><a style="color: white !important;" href="{% url 'general:user_account' %}"> Hi {{request.user.first_name}}, Wallet balance: ₦{{balance|floatformat:2|intcomma}}</a></p>
			</div>
		  
		{% endif %}
		
      </div>
    </div>


    <!-- main nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
		<img src="{% static 'img/logo_dark.png' %}" width="30%" height="" alt="">
	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ml-auto">
		  
          <li class="nav-item
			{% if not 'Entertainment-LifeStyle' and 'Sports' and 'Business-Economy' and 'General' and 'Politics' in request.path %}active{% endif %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item {% if 'Entertainment-LifeStyle' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'general:getCategory' 'Entertainment-LifeStyle' %}">Entertainment & LifeStyle</a></li>
          <li class="nav-item {% if 'Sports' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'general:getCategory' 'Sports' %}">Sports</a></li>
          <li class="nav-item {% if 'Politics' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'general:getCategory' 'Politics' %}">Politics</a></li>
          <li class="nav-item {% if 'Business-Economy' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'general:getCategory' 'Business-Economy' %}">Business & Economy</a></li>
          <li class="nav-item {% if 'General' in request.path %}active{% endif %}"><a class="nav-link" href="{% url 'general:getCategory' 'General' %}">General</a></li>
		  
		  
		  {% if request.user.is_authenticated %}
			<li onclick="return confirm('Please confirm this action')" class="nav-item"><a class="nav-link" href="{% url 'general:logout' %}"><i class="fa fa-sign-out" aria-hidden="true">&nbsp;</i>Logout</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'general:user_account' %}"><i class="fa fa-user" aria-hidden="true">&nbsp;</i>My Account</a></li>
		  {% else %}
		  	<li class="nav-item"><a class="nav-link" href="{% url 'general:login' %}"><i class="fa fa-sign-in" aria-hidden="true">&nbsp;</i>Login</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'general:register' %}"><i class="fa fa-user" aria-hidden="true">&nbsp;</i> Register</a></li>
		  {% endif %}	
          
		
        </ul>
      </div>
    </nav>
	
	{% endblock general_header %}
	
	{% block welcome_message %}

<!-- jumbotron saying what yes or no is in simple terms -->
    <div class="jumbotron text-center">
	  
	  
		
      <img src="{% static 'img/logo_dark.png' %}" class="img-fluid ">
      <h1 class="display-3">Simple YES or NO!</h1>
      <!-- <hr class="my-4"> -->
      <h4 class="">DON'T JUST READ THE NEWS, EARN MONEY BY PREDICTING OUTCOMES OF THE NEWS.</h4>
	  
	  {% if not request.user.is_authenticated %}
      <p class="lead">
        <a class="btn btn-success rounded-0" href="{% url 'general:register' %}" role="button">Register</a> <a class="btn btn-danger rounded-0" href="{% url 'general:login' %}" role="button">Login</a>
      </p>
	  {% endif %}
	  
    </div>
	
	{% endblock welcome_message %}


	{% block trending %}
    <div class="container">


      <!-- section for some top contents for direct engagement for readers -->
      <!-- some engagements floating scrolling horizontally, 4 max -->

      <h3 class="">TRENDING EVENTS</h3>
      <div class="row">
		
        <!-- <div class="card-deck">  used to make all cards have same height -->
		{% for event in trending_events %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 card-col">
          <a href="{% url 'general:event_details' event.pk %}">
            <div class="card rounded-0">
              <img class="card-img-top img-fluid rounded-0" style="width:360px;height:220px;" {% if event.event_image %} src="{{event.event_image.url}}"{% else %}src="http://via.placeholder.com/280x150"{% endif %} alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title card-hgt">{{event.title}}</h6>
				<div class="row" style="top:15px;">
                  <div class="col">
                    <p class="text-left mb-0">Yes</p>
                  </div>
                  <div class="col">
                    <p class="text-right mb-0">No</p>
                  </div>
                </div>
                <div class="progress">
				  {% if event.gameplay_total_value == None %}
					<div class="progress-bar bg-info" role="progressbar" style="width: 50%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-info" role="progressbar" style="width: 50%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  {% else %}	
					<div class="progress-bar bg-success" role="progressbar" style="width: {% getPercent event.total_yes_choice event.pk %}%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {% getPercent event.total_no_choice event.pk %}%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
				  {% endif %}	
                </div>
                <div class="row">
                  <div class="col">
                    <p class="text-left mb-0">{% getPercent event.total_yes_choice event.pk %}%</p>
                  </div>
                  <div class="col">
                    <p class="text-right mb-0">{% getPercent event.total_no_choice event.pk %}%</p>
                  </div>
                </div>
                <span class="card-text"><small class="text-muted">Predictions end {{event.end_date}}</small></span><br>
                <span class="card-text font-weight-bold">
				  {% if event.gameplay_total_value == None %}
					  ₦0.00
				  {% else %}
					  ₦{{event.gameplay_total_value|floatformat:2|intcomma}}
				  {% endif %}
				<small class="text-muted">to be shared</small></span>
              </div>
            </div>
          </a>
        </div>
		{% empty %}
		<h3>No Event</h3>
		{% endfor %}
        <!-- </div> card deck closing div-->
      </div>



    </div> <!-- end of .container -->

	{% endblock trending %}
	
	{% block imageVideo %}
	  <div class="container text-center">
		<br><br>
		<!-- how it works section -->
		<div class="row">
		  <div class="col-12 col-sm-6">
			<img src="{% static 'img/how_it_works.png' %}" class="img-fluid" alt="">
		  </div>
		  <div class="col-12 col-sm-6">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/783EsrHchXA" frameborder="0" allowfullscreen></iframe>
		  </div>
		</div>
	
	
	
	  </div>
  {% endblock imageVideo %}


<!-- more engaging contents start here -->
<br><br>


<!-- container for horizontal event lists -->
  {% block moreEvntslist %}	
  <div class="container">
	
    <div class="row justify-content-center">

      <!-- list item begins here -->
	  
      <div class="col-12 col-md-10 card-col">
        <div class="media flex-wrap">
          <a href="{% url 'general:event_details' some_more_events.pk %}">
			<img class="d-flex align-self-start mr-3 img-fluid" style="width:300px;height:300px;" {% if some_more_events.event_image %}src="{{some_more_events.event_image.url}}"{% else %}src="http://via.placeholder.com/300x300"{% endif %} alt="Generic placeholder image"></a>

          <div class="media-body">
            <a href="#"><h5 class="mt-2">{{some_more_events.title}}</h5>
            <p class="mb-0"><small class="text-muted ">Predictions starts on {{some_more_events.start_date}} <span class="font-weight-bold yes">{{some_more_events.start_time}}</span></small> <small class="text-muted">and Ends on {{some_more_events.end_date}} <span class="font-weight-bold no">{{event.end_time}}</span></small></p>
            <p class="font-weight-bold">
			  {% if some_more_events.gameplay_total_value == None %}
				  ₦0.00
			  {% else %}
				  ₦{{some_more_events.gameplay_total_value|floatformat:2|intcomma}}
			  {% endif %}
			  <small class="text-muted">to be shared</small></p>
            <div class="row">
			  <div class="col-11" style="top: 15px;">
				  <div class="row">
					<div class="col">
					  <p class="text-left">Yes</p>
					</div>
					<div class="col">
					  <p class="text-right">No</p>
					</div>
				  </div>
				</div>
              <div class="col-11">
                <div class="progress">
				  {% if some_more_events.gameplay_total_value == None %}
					<div class="progress-bar bg-info" role="progressbar" style="width: 50%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-info" role="progressbar" style="width: 50%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  {% else %}	
					<div class="progress-bar bg-success" role="progressbar" style="width: {% getPercent some_more_events.total_yes_choice some_more_events.pk %}%; height: 5px;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {% getPercent some_more_events.total_no_choice some_more_events.pk %}%; height: 5px;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
				  {% endif %}	
                </div>
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="col">
					<p class="text-left">{% getPercent some_more_events.total_yes_choice some_more_events.pk %}%</p>
				  </div>
				  <div class="col">
					<p class="text-right">{% getPercent some_more_events.total_no_choice some_more_events.pk %}%</p>
				  </div>
                </div>
              </div>
			  
            </div></a>

            <!-- this row handles the illustrations and form submition to place predictions -->
            <div class="row">
              <div class="col-11">
                <div class="row">
                  <div class="col-12">
                    <p>
                      <button class="btn btn-sq btn-light rounded-0">
                          <i class="text-success fa fa-money fa-3x"></i><br/><br/>
                          {% if some_more_events.gameplay_total_value == None %}
							  ₦0.00
						  {% else %}
							  ₦{{some_more_events.gameplay_total_value|floatformat:2|intcomma}}
						  {% endif %}
					  <br/> To be shared
                      </button>
                      <button  class="btn btn-sq btn-light rounded-0">
                        <i class="text-warning fa fa-users fa-3x" ></i><br/><br/>
                        {{some_more_events.total_players}}<br/>Players
                      </button>
                      <button  class="btn btn-sq btn-light rounded-0">
                        <i class="text-success fa fa-calendar fa-3x"></i><br/><br/>
                        START DATE: <br>{{some_more_events.start_date}}
                      </button>
                      <button  class="btn btn-sq btn-light rounded-0">
                        <i class="text-danger fa fa-calendar-times-o fa-3x"></i><br/><br/>
                        END DATE: <br>{{some_more_events.end_date}}
                      </button>
                    </p>
                  </div>
                </div>
              </div>
			  
			  {% if not request.user.is_staff %}
			   {% if not some_more_events.closed %}
				{% if not some_more_events.end_date <= current_time %}
			  
				  <div class="col-11">
					<form method="POST" action="{% url 'gameplay:betting' %}" class="form-inline" id="user_play_choice">
					  {% csrf_token %}
					  <div class="form-group">
						<input type="hidden" value="{{some_more_events.id}}" name="event">
						<input type="hidden" id="choice" name="user-choice" value = "">
						<input type="number" class="form-control rounded-0 bet_amount" min="200" required id="bet_amount" name="amount" placeholder="Min Amount ₦200" value="">
						<a class="btn btn-outline-success rounded-0 bet bet_yes"  play_type="YES" role="button" aria-pressed="true">YES</a>
						<a class="btn btn-outline-danger rounded-0 bet bet_no"  play_type="NO" role="button" aria-pressed="true">NO</a>
						<button class="btn btn-outline-info rounded-0 bet_info" onclick="return checkUserValues()" type="submit" role="button" aria-pressed="true">PLAY</a>
					  </div>
<!--					  <button class="btn btn-info" onclick="return checkUserValues()" type="submit">Submit</button>
-->					</form>
				  </div>
			
				  {% endif %}
				 {% endif %}
				{% endif %}
				
            </div>
          </div>
        </div>
      </div>
	    
  
      <!-- more news button  -->
      <div class="col-12 col-md-10 text-center">
        <br><br>
        <a href="{% url 'general:events' %}" class="btn btn-outline-secondary rounded-0" role="button" aria-pressed="true">More News!</a>
        <br><br><br>
      </div>


    </div>

  </div>



  {% endblock moreEvntslist %}
  
  
  {% block footer %}
  <footer>
    <div class="container-fluid bottom-nav">
      <div class="row">
        <div class="col">
          <p>Footer section</p>
        </div>
      </div>
    </div>

  </footer>
  {% endblock footer %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
	{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	{% endblock scripts %}
	
	{% block customscripts %}
	  {% include 'general/customscripts.html' %}
	{% endblock customscripts %}
	
  </body>
</html>
