{% extends 'ynladmin/adminHome.html' %}
{% load staticfiles %}

{% block add_event %}
{% endblock add_event %}

{% block events_won %}
{% endblock events_won %}

{% block transactions %}
	
<div class="col-md-12 view-events">
    <div class="row">
        <div class="col-md-12">
                <h3 class="box-title">Message Center</h3>
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav">
                      <li><a href="#">New</a></li>
                      <li><a href="#">Archived</a></li>
                      <li><a href="#">Deleted</a></li>
                    </ul>
                  </div>
                </nav>
        </div>
    </div>
</div>
	
{% endblock transactions %}


